*{    margin: 0;
    padding: 0;
    
    box-sizing: border-box;}
@font-face {
    font-family:calligraphy ;
    src: url(https://www.fontspace.com/stylish-calligraphy-font-f24298);
}

body{margin:0;
    font-family: 'Open Sans', sans-serif;
}
.header-card{max-width: 100%;
    height:1000px;
    background:url(https://images.unsplash.com/photo-1578894381163-e72c17f2d45f?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1206) top center/ cover no-repeat;
    box-sizing:border-box;
    position:relative;
    display:block;
}
/*social media line */
.line-bar{
    transition: all linear 2s;
    display: flex;
    justify-content:space-between;
    padding: 1% 3%;
    width: 100%;
    text-transform: uppercase;
    position:absolute;
    z-index: 100;
    
}
.header-card .line-bar .left-bar{
    display:inline-flex;
    font-size: large;
}

.header-card .line-bar  ul li  {
    float:left;
    list-style:none;
    padding:0 12PX;
    margin:auto;
}
.line-bar .user-login ul li a {
    text-decoration: none;
    color:#201c1c;
    padding-left:auto;
}
.fab{color:black;}
/* memu bar */
.header-card .header-container-nav{
    background: rgba(141, 134, 122, 0.8);
    transition: all linear 2s;
    display:inline-flex;
    justify-content: space-between;
    padding:0 2%;
    height:120px;
    position:fixed;
    width:100vw;
    align-items: center;
    z-index: 99;
    
}

.header-container-nav .header-logo{
    flex: 0 0 25%;
    max-width: 25%;
    font-size: 30px;
    font-weight:800;
    cursor: pointer;
    color:rgba(62, 85, 89, 0.8);
    margin:auto;
    padding:auto;
    text-transform: uppercase;

}


/* subnav menu  */
.header-nav ul li:hover  {
    background-color: #201c1c;
    border-radius: 35px; 
    
}
.header-container-nav .header-nav ul{
    position: relative;
    width:fit-content;
}

.header-container-nav .header-nav ul li {
    position:relative;
    grid-template-rows: auto;
    list-style-type: none;
    font-size:20px;
   padding:0px 20px;
   grid-template-rows: auto;
   float:left;   
}

.header-container-nav .header-nav ul li a {
    display:block;
    padding:20px;
    color:rgb(14, 13, 13);
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.header-container-nav .header-nav ul li:hover > a {
    color:rgb(169, 190, 183);
}

.header-container-nav .header-nav  ul li ul {
    position:absolute;
    left:0;
    width:200x;
    margin-top: 0;
    background-color: #7d8667;
    display:none;
    border-radius: 35px;
}
.header-container-nav .header-nav  ul li ul li {
    width:100%;
    border-top: 1px solid rgba(0,0,0,.1);
}
.header-container-nav .header-nav  ul li ul li ul{
    left:160px;
    margin-top:-65px;
    margin-left:5.5px;
}
.header-container-nav .header-nav  ul li:hover > ul {
    display:initial;
}












.searching{
margin:auto;
padding:auto;
position:relative;
background-color:rgba(141, 134, 122, 0.8) ;
}

.searching .search-place .fname {
    padding:20px;
    border: 1px solid black ;
    border-radius:4px;
    background:rgba(141, 134, 122, 0.8);
    height: 10px;
    padding:13px;
    transition: .25s ease;
    border-color:#201c1c;
}
.searching .search-place .form-label{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left: 19px;
    user-select: none;
    color:#999;
    pointer-events: none;
    transition: 0.25s ease;
}
.fname:not(:placeholder-shown) + .form-label,
.fname:focus + .form-label {
    
    left:155px;
    padding:10px;
    display:inline-block;
    color:black;
}

















.web-baner{
    display:flex;
    position:absolute;
    right:10%;
    left:10%;
    top : 20%;
    justify-content: space-between;
}
.statement-container{
    box-shadow: #7d8667;
    width:500px;
    height:500px;
    background: rgba(115, 101, 77, 0.8);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow:5px #7d8667 ;
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}
.banner {
    margin:auto;
    justify-content: center;
    padding:20px;
    width:300px;
    font-size: 35px;
    color:#171716;

}
.statement-container p {
   margin:auto;
   justify-content: center;
   padding:10px;
   width:400px;
   font-size: 18px;
   color:#1c1c18;
}
.statement-container .readmore-button{
   justify-content: center;
   display:flex;
   margin-top: 30px;
}
.statement-container .readmore-button .readmore {
    justify-content: center;
    padding:10px 30px;
    font-size: 30px;
    background-color:rgba(96, 90, 80, 0.8);
    border-radius: 40px;
    color:#1a1a19;
    text-transform: uppercase;
    border:none;
}

.popular-des {
    display:block;
    
}
.popular-des h1{
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
    color:#191a18;
    padding:20px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(96, 90, 80, 0.8);
    border-radius: 20px;
    margin-top:100px;

}
.popular-des .ima-des .im {
    width:200px;
    height:150px;
    border-radius: 10px;
    margin:0 10px;
    box-sizing: border-box;
    box-shadow:5px #7d8667 ;
    background-color: #ccc;
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}










/* card-list*/
.heading-suggest{
    background-color:#ECE5C7;
    padding:auto;
    margin:auto;
}
.heading-suggest h1 {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:40px;
    font-size:40px;
}

.cards{
    display:flex;
   flex-wrap: nowrap;
   justify-content:center;
   padding-bottom: 60px;
  
   background: #ECE5C7;
}

.card{
    border-radius: 20px;
    overflow:hidden;
   background: rgba(141, 134, 122, 0.8);
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    width:350px;
    margin-top:50px;
    margin-left:30px;
    margin-right:30px;
    

}
.card-image{
    height:300px;
    object-fit: cover;
    width:100%;
}
.card-top{
    padding:25px;
}

.card-title{
    margin-bottom:25px;
}
.card-user{
    display:flex;
    align-items: center;
    margin-bottom:10px;
}
.card-user-avatar{
    height:50px;
    width:50px;
    border-radius: 100rem;
    flex-shrink: 0;
}
.card-info{
    padding-left:20px;
    flex:1;
}
.card-user-top{
    margin-bottom: 10px;
}
.card-user-review{
    font-weight:300;
    font-size:20px;
    color:#201c1c;
}
.card-bottom .card-moreinformation .readbutton{
    display:flex; 
    margin:10px auto;
    padding:10px 20px;
    border-radius: 10px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    background-color:white; 
    font-size: 20px;
    font-family:inherit;
    border:1px;
}











/* items-list second*/

.recommend-heading h1 {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:48px;
    font-size:40px;
}

.recommend-hotel{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:30px;
    border-radius: 10px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
   position:relative;

    
    
}
.item-child{
    margin:30px;
    border-radius: 10px;

}

.image-item-list{
    object-fit: cover;
    width:100%;
    border-radius: 10px 10px 0 0;

}
.recommend-hotel .item-child a {
    text-decoration: none;
    font-size:16px;
    color:#171716;
}
 
.recommend-hotel .item-child  h3 {
    color:red;
}

.item-child:hover {
    transform:scale(1.1);
}