*{    margin: 0;
    padding: 0;
    
    box-sizing: border-box;}
@font-face {
    font-family:calligraphy ;
    src: url(https://www.fontspace.com/stylish-calligraphy-font-f24298);
}

body{margin:0;
    font-family: 'Open Sans', sans-serif;
}
.header-card{max-width: 100%;
    height:1000px;
    background:url(https://images.unsplash.com/photo-1578894381163-e72c17f2d45f?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1206) top center/ cover no-repeat;
    box-sizing:border-box;
    position:relative;
    display:block;
    
}
/*social media line */
.line-bar{
    transition: all linear 2s;
    display: flex;
    justify-content:space-between;
    padding: 1% 3%;
    width: 100%;
    text-transform: uppercase;
    position:absolute;
    z-index: 100;
   

    
}
.header-card .line-bar .left-bar{
    display:inline-flex;
    font-size: large;
}

.header-card .line-bar  ul li  {
    float:left;
    list-style:none;
    padding:0 12PX;
    
}
.line-bar .user-login ul li a {
    text-decoration: none;
    color:#201c1c;
    padding-left:auto;
}
.fab{color:black;}
/* memu bar */
.header-card .header-container-nav{
    background:#999;
    transition: all linear 2s;
    display:inline-flex;
    justify-content: space-between;
    padding:0 2%;
    height:75px;
    position:fixed;
    width:100vw;
    align-items: center;
    z-index: 99;
    box-shadow:5px #7d8667 ;
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}

.header-container-nav .header-logo{
    flex: 0 0 25%;
    max-width: 25%;
    font-size: 30px;
    font-weight:800;
    cursor: pointer;
    color:rgba(62, 85, 89, 0.8);
    margin:auto;
    padding:auto;
    text-transform: uppercase;

}


/* subnav menu  */
.header-nav ul li:hover  {
    background-color: #201c1c;
    border-radius: 35px; 
    
}
.header-container-nav .header-nav ul{
    position: relative;
    width:fit-content;
}

.header-container-nav .header-nav ul li {
    position:relative;
    grid-template-rows: auto;
    list-style-type: none;
    font-size:20px;
   padding:0px 20px;
   grid-template-rows: auto;
   float:left;   
}

.header-container-nav .header-nav ul li a {
    display:block;
    padding:20px;
    color:rgb(14, 13, 13);
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.header-container-nav .header-nav ul li:hover > a {
    color:rgb(169, 190, 183);
}

.header-container-nav .header-nav  ul li ul {
    position:absolute;
    left:0;
    width:200x;
    margin-top: 0;
    background-color: #7d8667;
    display:none;
    border-radius: 35px;
}
.header-container-nav .header-nav  ul li ul li {
    width:100%;
    border-top: 1px solid rgba(0,0,0,.1);
}
.header-container-nav .header-nav  ul li ul li ul{
    left:160px;
    margin-top:-65px;
    margin-left:5.5px;
}
.header-container-nav .header-nav  ul li:hover > ul {
    display:initial;
}












.searching{
margin:auto;
padding:auto;
position:relative;
background-color:rgba(141, 134, 122, 0.8) ;
}

.searching .search-place-first .fname {
    padding:20px;
    border: 1px solid black ;
    border-radius:4px;
    background:rgba(141, 134, 122, 0.8);
    height: 10px;
    padding:13px;
    transition: .25s ease;
    border-color:#201c1c;
}
.searching .search-place-first .form-label{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left: 19px;
    user-select: none;
    color:#999;
    pointer-events: none;
    transition: 0.25s ease;
}
.fname:not(:placeholder-shown) + .form-label,
.fname:focus + .form-label {
    
    left:155px;
    padding:10px;
    display:inline-block;
    color:black;
}
/* login */
.login .icon-login {
    font-size:26px;
}















/*banner */


.web-baner{
    display:flex;
    position:absolute;
    right:10%;
    left:10%;
    top : 20%;
    justify-content: space-between;
}
.statement-container{
    display:block;
    justify-content: center;
    align-items: center;
    box-shadow: #7d8667;
    width:500px;
    height:500px;
    background: rgba(115, 101, 77, 0.8);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow:5px #7d8667 ;
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}
 .banner h1 {
    margin:auto;
    padding:20px;
    width:500px;
    font-size: 45px;
    color:#171716;

}
.statement-container p {
   margin:auto;
   justify-content: center;
   padding:10px;
   width:400px;
   font-size: 18px;
   color:#1c1c18;
}
.statement-container .readmore-button{
   justify-content: center;
   display:flex;
   margin-top: 30px;
}
.statement-container .readmore-button .readmore {
    justify-content: center;
    padding:10px 30px;
    font-size: 30px;
    background-color:rgba(96, 90, 80, 0.8);
    border-radius: 40px;
    color:#1a1a19;
    text-transform: uppercase;
    border:none;
}

.popular-des {
    display:block;
    
}
.popular-des h1{
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
    color:#191a18;
    padding:20px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(96, 90, 80, 0.8);
    border-radius: 20px;
    margin-top:100px;

}
.popular-des .ima-des .im {
    width:200px;
    height:150px;
    border-radius: 10px;
    margin:0 10px;
    box-sizing: border-box;
    box-shadow:5px #7d8667 ;
    background-color: #ccc;
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}








































/* card-list*/
.card-recommend{
    background-color:#ECE5C7;
    padding:auto;
    margin:auto;
}
.card-recommend h1 {
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
    padding-top:40px;
    margin-top:0px;
}

.cards{
    display:flex;
   flex-wrap: nowrap;
   justify-content:center;
   padding-bottom: 60px;
  
   background: #ECE5C7;
}

.card{
    border-radius: 20px;
    overflow:hidden;
   background: rgba(141, 134, 122, 0.8);
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    width:350px;
    margin-top:50px;
    margin-left:30px;
    margin-right:30px;
    

}
.card-image{
    height:300px;
    object-fit: cover;
    width:100%;
}
.card-top{
    padding:25px;
}

.card-title{
    margin-bottom:25px;
}
.card-user{
    display:flex;
    align-items: center;
    margin-bottom:10px;
}
.card-user-avatar{
    height:50px;
    width:50px;
    border-radius: 100rem;
    flex-shrink: 0;
}
.card-info{
    padding-left:20px;
    flex:1;
}
.card-user-top{
    margin-bottom: 10px;
}
.card-user-review{
    font-weight:300;
    font-size:20px;
    color:#201c1c;
}
.card-bottom .card-moreinformation .readbutton{
    display:flex; 
    margin:10px auto;
    padding:10px 20px;
    border-radius: 10px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    background-color:white; 
    font-size: 20px;
    font-family:inherit;
    border:1px;
}
.button-readmore {
   text-decoration: none;
}












/* items-list second*/

/* .recommend-heading h1 {
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:48px;
    font-size:40px;
}

.recommend-hotel{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:30px;
    border-radius: 10px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
   position:relative;

    
    
}
.item-child{
    margin:30px;
    border-radius: 10px;

}

.image-item-list{
    object-fit: cover;
    width:100%;
    border-radius: 10px 10px 0 0;

}
.recommend-hotel .item-child a {
    text-decoration: none;
    font-size:16px;
    color:#171716;
}
 
.recommend-hotel .item-child  h3 {
    color:red;
}

.item-child:hover {
    transform:scale(1.1);

}
 */




/*parallax*/
/* .tourtravel{
   
    justify-content: center;
    align-items: center;
    margin:auto;
    padding:auto;
    height:400px;
    width:1038px;

}
.parallax {
    /* The image used */
    /* background-image: url(https://images.unsplash.com/photo-1536323760109-ca8c07450053?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjV8fHRyYXZlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
  
    /* Full height */
    /* height: 482px;
    width:1058px; */ 
  
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    backface-visibility: hidden;
  } */ 






















 .wrapper h1{
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
  }
  
  .wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
  }
  
  .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }
  
  .container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
              perspective: 1000px;
  }
  
  .front,
  .back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      height: auto;
      border-radius: 10px;
      color: #fff;
      font-size: 1.5rem;
  }
  
  .back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  }
  
  .front:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .container:hover .front,
  .container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .container .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }



  

  
  


































































/* footer */
.last_footer{
    max-width: 100%;
    height:700px;
    background:url(https://www.wns.com/Portals/0/Images/HeaderBanner/desktop/4822/225/Travel-trac_HD-1.jpg) bottom center/ cover no-repeat;
    box-sizing:border-box;
    position:relative;
    display:block;
}
.footer_first{
    position:absolute;
    display:block;
    padding:4%;
    padding-top:6%;
    margin:2%;
    font-family: 'Open Sans', sans-serif ; 
}
.footer_first h1{
    font-size:35px;
    margin-bottom:20px;

}
.footer_first h3{
    padding:0px 100px;
    justify-content: center;
    align-items: center;
    
}
.footer_first .search-place {
    
    padding:15px 100px;
    justify-content: center;
    align-items: center;
    
}
 .bname {
      height:40px;
      width:350px;
      padding-left:10px;
      font-size:16px;
      border-radius: 5px;
 }
 .footer_first .search-place .gname{
    height:40px;
    width:100px;
    margin-left:-5px;
    font-size:16px;
    border-radius: 5px;
 }
.search-place{
    position:relative;
    margin-top:30px;
}

 #search-mail{
     position:absolute;
     left:17%;
     top:50%;
     transform:translateY(-50%);


 }
.bname:not(:placeholder-shown) + .form-label,
.bname:focus + .form-label {

    display:none;
   
}






.footer_second{
    position:absolute;
    top:50%;
    display:flex;
    justify-content:space-between;
    box-sizing: border-box;
    width:100%;
    padding:100px 200px 0px 200px ;
    
}







.first-infor .logo_footer{
    flex: 0 0 25%;
    font-size: 30px;
    font-weight:800;
    cursor: pointer;
    color:rgba(62, 85, 89, 0.8);
    text-transform: uppercase;
    display:flex;

}
.first-infor .list_first ul  {
    list-style-type: none;
    margin-top:30px;

}
.first-infor .list_first ul li{
    margin:8px;
    font-size:16px;
    color:#999;
}







.footer_second .second h4{
    font-size: 20px;
    color:#999;
    text-transform: uppercase;
}
.footer_second .second .list-information {
    list-style-type: none;
    margin-top:30px;


}
.footer_second .second .list-information li {
    margin:8px;
    font-size:16px;
    color:#999;
}
.footer_second .second .list-information li ul li {
    list-style-type: none;
    display:inline-block;
    
} 
.footer_second .third h4{
    font-size: 20px;
    color:#999;
    text-transform: uppercase;

}
.footer_second .third ul{
    margin-top:30px;
}
.footer_second .third ul li {
    margin:8px;
    font-size:16px;
    color:#999;
}
.footer_second .third ul li a{
    text-decoration: none;
    color:#999;
    
}

/* .image-items{
    height:100px;
    width:100px;
    margin:0;
    padding:0;

} */














