*{    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;}
@font-face {
    font-family:calligraphy ;
    src: url(https://www.fontspace.com/stylish-calligraphy-font-f24298);
}


body{margin:0;
    font-family: 'Open Sans', sans-serif;

font-weight: 400;
background: #fff;
color: #201c1c;
}
.line-bar{
    position:absolute;
    width:100%;
    height:30px;
    background-color: #201c1c;
    
    
    
    
}
.header-card{width:100%;
    height:1000px;
    background:url(https://images.unsplash.com/photo-1526772662000-3f88f10405ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80) top center/ cover no-repeat;
    box-sizing:border-box;
    position:relative;
}
    
.header-card .header-container-nav{
    background: rgba(141, 134, 122, 0.8);
    transition: all linear 2s;
    display:flex;
    justify-content: space-between;
    padding:0 10%;
    height:150px;
    position:fixed;
    width:100%;


}
.header-container-nav .header-logo{
    flex: 0 0 25%;
    max-width: 25%;
    font-size: 30px;
    font-weight:800;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: pointer;
    color:rgba(62, 85, 89, 0.8);
    margin:auto;
    padding:auto;
}

.header-nav{
    display:flex;
    grid-template-rows: auto;
    justify-content: center;
    list-style-type: none;
    font-size:20px;
   padding:25px 10px;
   margin:auto;
   
   
  
   
}
.header-container-nav .header-nav .item{
    display:flex;
    justify-content:center;
    margin: 0 15px;
    position: relative;
    color:rgb(41, 43, 48);
    font-family: 'Open Sans', sans-serif;
}
 .item:hover  {
 
    background-color:rgba(62, 85, 89, 0.8);
}


.searching{
margin:auto;
padding:auto;}
.quote{
    position:absolute;
    top:170px;
    left:50%;
    transform:translate(-50%);
    font-size:55px ;
    color:rgba(62, 85, 89, 0.8);

    
}
#timequote{
    display:flex;
    justify-content: center;
    text-align: center;
}
 .fname {
    padding:20px;
    border: 1px solid black ;
    border-radius:4px;
    background:rgba(141, 134, 122, 0.8);
    height: 10px;
    padding:13px;
    transition: .25s ease;
    
}
.searching{
    position:relative;
}
.form-label{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left: 19px;
    user-select: none;
    color:#999;
    pointer-events: none;

}
.fname :focus + .form-label {
    color: red;
}